.listaCarros{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: aqua;

    ul{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}