.item {
    background-color: #4D4D4D;
    border-radius: 8px;
    box-shadow: 2px 4px 4px #0000009F;
    width: 70%;
    margin-bottom: 8px;
    cursor: pointer;
    list-style: none;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    
  
   
  }